In [1]:
import pandas as pd
import json
import requests
import urllib

In [2]:
from censusAPI import myAPI

## User-defined parameters

In [3]:
#Variables and predicates for both start/end years
dsource = 'acs/acs5/profile'

state = ['06','08','09','10','11','12','13','17','18','24',\
        '25','26','27','33','34','36','40','42','44','48',\
        '51','53','54','55']

cols = f'GEO_ID,DP04_0001E,DP04_0001M'  
year = '2018'

## Housing Units for Current Year - All tracts in Select States

In [4]:
base_url = f'https://api.census.gov/data/{year}/{dsource}'

In [5]:
df_tract = pd.DataFrame()

for i in state:
    data_url = f'{base_url}?get={cols}&for=tract:*&in=state:{i}&key={myAPI}'
    
    df = pd.read_json(data_url)
    
    df_tract = df_tract.append(df,ignore_index=True)
    
df_tract.columns = df_tract.iloc[0]
df_tract.head()

0                GEO_ID  DP04_0001E  DP04_0001M  state  county   tract
0                GEO_ID  DP04_0001E  DP04_0001M  state  county   tract
1  1400000US06047000802        1419          61     06     047  000802
2  1400000US06047000901        1116          83     06     047  000901
3  1400000US06047001502         789          31     06     047  001502
4  1400000US06047000902        2738         137     06     047  000902

In [6]:
df_tract.shape

(50697, 6)

In [7]:
df_tract.to_csv('USMetro_Tracts_Hou.csv')