In [1]:
import pandas as pd
import json
import numpy as np

In [2]:
from censusAPI import myAPI

In [3]:
boro = ['005','047','061','081','085']

In [36]:
def get_data(year,data):
    var = f'NAME,{data}'
    url_base = f'https://api.census.gov/data/{year}/dec/sf1?'
    df = pd.DataFrame()
    for b in boro:
        url = f'{url_base}get={var}&for=tract:*&in=state:36%20county:{b}&key={myAPI}'
        dff = pd.read_json(url)
        dff.columns = dff.iloc[0]
        dff = dff[1:]
        dff['yr'] = year
        df = pd.concat([df,dff])
    df['tract']=df['tract'].str.pad(width=6,side='right',fillchar='0')
    df['ct_id']=df.state+df.county+df.tract
    df['ct_id']=df['ct_id'].astype(int)
    return df

In [37]:
pop00 = get_data('2000','P001001')

In [38]:
pop00.head()

,NAME,P001001,state,county,tract,yr,ct_id
1,"Census Tract 1, Bronx County, New York",12780,36,005,000100,2000,36005000100
2,"Census Tract 2, Bronx County, New York",3545,36,005,000200,2000,36005000200
3,"Census Tract 4, Bronx County, New York",3314,36,005,000400,2000,36005000400
4,"Census Tract 5, Bronx County, New York",0,36,005,000500,2000,36005000500
5,"Census Tract 11, Bronx County, New York",559,36,005,001100,2000,36005001100

In [31]:
pop00.to_excel('2000tracttest2.xlsx')

In [34]:
geo00 = pd.read_csv('../data/geo/nyc_subbor_00.csv')

In [40]:
subbor = pd.merge(pop00,geo00,left_on='ct_id',right_on='ct_id',how='left')
subbor = subbor[['state','county','id','name','P001001']].copy()
subbor['P001001'] = subbor['P001001'].astype(int)
subbor = subbor.groupby(['state','county','id','name']).sum().reset_index()

In [41]:
subbor.head()

  state county       id                  name  P001001
0    36    005  36005CS  BX Central and South   438620
1    36    005  36005NE     BX North and East   248155
2    36    005   36005W               BX West   645875
3    36    047   36047C            BK Central   575886
4    36    047   36047E               BK East   263647

In [ ]:
geo10 = pd.read_csv('../data/geo/nyc_subbor_10.csv')

In [23]:
pop10 = get_data('2010','P001001')

In [24]:
pop10.head()

,NAME,P001001,state,county,tract,yr,id
1,"Census Tract 1, Bronx County, New York",11091,36,005,000100,2010,36005000100
2,"Census Tract 2, Bronx County, New York",4334,36,005,000200,2010,36005000200
3,"Census Tract 4, Bronx County, New York",5503,36,005,000400,2010,36005000400
4,"Census Tract 16, Bronx County, New York",5643,36,005,001600,2010,36005001600
5,"Census Tract 19, Bronx County, New York",1917,36,005,001900,2010,36005001900

In [ ]:
pop10 = get_data('2010','P001001')
subbor = pd.merge(pop10,geo10,left_on='id',right_on='ct_id',how='left')
subbor = subbor[['state','county','subbor_id','subbor_nm','P001001']].copy()
subbor['P001001'] = subbor['P001001'].astype(int)
subbor = subbor.groupby(['state','county','subbor_id','subbor_nm']).sum().reset_index()
subbor.to_csv('output/subor_pop_10.csv')

In [ ]:
hou10 = get_data('2010','H001001')
subbor_h = pd.merge(hou10,geo10,left_on='id',right_on='ct_id',how='left')
subbor_h = subbor_h[['state','county','subbor_id','subbor_nm','H001001']].copy()
subbor_h['H001001'] = subbor_h['H001001'].astype(int)
subbor_h = subbor_h.groupby(['state','county','subbor_id','subbor_nm']).sum().reset_index()
subbor_h.to_csv('output/subor_hou_10.csv')

In [ ]:
hou10_o = get_data('2010','H003002')
subbor_h_o = pd.merge(hou10_o,geo10,left_on='id',right_on='ct_id',how='left')
subbor_h_o = subbor_h_o[['state','county','subbor_id','subbor_nm','H003002']].copy()
subbor_h_o['H003002'] = subbor_h_o['H003002'].astype(int)
subbor_h_o = subbor_h_o.groupby(['state','county','subbor_id','subbor_nm']).sum().reset_index()
subbor_h_o.to_csv('output/subor_hou_o_10.csv')

In [ ]:
hou10_v = get_data('2010','H003003')
subbor_h_v = pd.merge(hou10_v,geo10,left_on='id',right_on='ct_id',how='left')
subbor_h_v = subbor_h_v[['state','county','subbor_id','subbor_nm','H003003']].copy()
subbor_h_v['H003003'] = subbor_h_v['H003003'].astype(int)
subbor_h_v = subbor_h_v.groupby(['state','county','subbor_id','subbor_nm']).sum().reset_index()
subbor_h_v.to_csv('output/subor_hou_v_10.csv')